*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
    background-image:url(https://www.eltiempo.com/files/article_main/uploads/2019/04/11/5caf274f793ec.jpeg);
}
main{
    width: 1000px;
    background: linear-gradient(5deg, rgba(2, 253, 161, 0.928),rgba(255, 253, 253, 0.961));
    margin: 0 auto;
}
header{
    padding: 10px;
}
.logo{
    width:30%;
    float:left;
}

nav{
    margin-top:30px;
    width:50%;
    float:right;
}
nav > a{
    text-decoration: none;
    background: black;
    color: aqua;
    padding: 25px;
    border-radius: 50px;
    display: inline-block;
    text-transform: uppercase;
    margin: 30px 1px 1px 1px;
}
nav a:hover{
    background: red
}

section{
    padding: 10px;
    margin: 1px 10px 5px 70px;
}
.logo img{
    width: 250px;
}
.gente{
    width: 50%;
    float: right;
    padding: 20px;
    margin: 30px 40px 5px 1px;
}
.gente1{
    width: 40%;
    height: 350px;
    float: left;
    padding: 5px;
    margin: 20px 1px 1px 1px;
}
.gente2{
    width: 45%;
    height: 260px;
    float: right;
    padding: 10px;
    margin: 8px 18px 5px 1px;
}
.clear{
    clear: both;
}
.texto1{
    float: left;
    width: 40%;
    margin-top: 4%;
    font-size: 23px;
}
.texto2{
    width: 40%;
    margin-top: 10%;
    font-size: 22px;
    margin: 50px 40px 80px 450px;
}
.texto3{
    width: 50%;
    font-size: 20px;
    margin: 2px 40px 1px 20px;
}
.texto4{
    width: 90%;
    font-size: 20px;
    margin: 20px 40px 10px 20px;
}
.salento{
    color: #f00;
    font-style: oblique;
    font-size:74px;
    margin: 30px 1px 1px 20px;
}
.salento1{
    color: #f00;
    font-size:30px;
    margin: 20px 40px 1px 80px;
}
.salento2{
    color: #f00;
    font-size:30px;
    margin: 1px 1px 20px 20px;
}

/* formulario */
.formulario{
    width: 50%;
    height: 100%;
    border: 2px solid #f00;
    background-color: aliceblue;
    margin-left: 300px;
}
.reservah1{
    color: rgb(72, 34, 34);
    font-size: 50px;
    margin-left: 75px;
    padding: 15px;
}
.nav1{
    margin-top:30px;
    width:130px;
    float:right;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.a1{
    text-decoration: none;
    background: black;
    color: aqua;
    padding: 25px;
    border-radius: 50px;
    text-transform: uppercase;
    margin: 20px 1px 1px 1px;
    display: flex;
    justify-content: center;
}
.reservaimg{
    width: 65%;
    height: 360px;
    margin-top: 10px;
    margin-left: 8%;
}
.venta1{
    width: 400px;
    height: 380px;
    float: left;
    background-color: rgb(192, 220, 249);
}
.ventah2{
    color: rgb(198, 87, 3);
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 6px;
}
.ventaimg{
    width: 80%;
    height: 50%;
    margin: 1px 1px 1px 10%;
}
.ventap{
    color: black;
    font-size: 15px;
    margin: 5px 25px 5px 25px;
}
.ventap1{
    color: #f00;
    font-size: 20px;
    margin-left: 20px;
}
.venta2{
    width: 400px;
    height: 380px;
    float: right;
    margin-right: 60px;
    background-color: rgb(192, 220, 249);
}
.boton1{
    background: rgb(255, 255, 255);
    color: rgb(1, 1, 1);
    padding: 5px;
    border-radius: 40px;
    text-transform: uppercase;
    margin: 1px 25px 1px 1px;
    float: right;
}
.boton1:hover{
    background: rgba(195, 194, 194, 0.767)
}
.palabras{
    color: #f00;
    font-size: 20px;
    float: left;
    margin: 15px 20px 5px 50px;
}
.form{
    color: #f00;
    font-size: 18px;
    margin: 1px 1px 1px 40px;
}
.form1{
    float: right;
    color: #f00;
    font-size: 18px;
    margin: 60px 60px 1px 1px;
}
.datos{
    font-size: 30px;
}
.btn1{
    background: rgb(255, 255, 255);
    color: rgb(1, 1, 1);
    padding: 5px;
    border-radius: 40px;
    text-transform: uppercase;
    margin: -30px 25px 1px 1px;
    float: right;
}
.btn1:hover{
    background: rgba(195, 194, 194, 0.767)
}
.btn2{
    background: rgb(255, 255, 255);
    color: rgb(1, 1, 1);
    padding: 12px;
    font-size: 15px;
    border-radius: 40px;
    text-transform: uppercase;
    margin: 1px 1px 1px 50px;
}
.btn2:hover{
    background: rgba(195, 194, 194, 0.767)
}

/* contactos */

.con1{
    width: 400px;
    height: 450px;
}
.conh2{
    color: #f00;
    font-size: 50px;
    margin: 40px 50px 1px 20px;
}
.nav2{
    width:100%;
    height: 100%;
}
.a2{
    text-decoration: none;
    background: rgb(8, 190, 245);
    color: rgb(25, 33, 33);
    padding: 15px;
    border-radius: 50px;
    border: groove red;
    text-transform: uppercase;
    margin: 5px 1px 1px 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 55px;
}
.img2{
    width: 60px;
    height: 60px;
    float: right;
    margin: 1px 50px 1px 20px;
}